<mat-toolbar color="primary">
    <button mat-button routerLink="" fragment="com1">Com1</button>
    <button mat-button routerLink="" fragment="com2">Com2</button>
    <!-- <button mat-button routerLink="/admin" >Admin</button> -->
</mat-toolbar>
<!-- <mat-toolbar>
    <span>Admin Page</span>
    <button mat-button routerLink="admin/login" >Login</button>
    <button mat-button routerLink="admin/list" >List</button>
</mat-toolbar> -->
<!-- <mat-toolbar>
    <span>User Page</span>
    <button mat-button routerLink="user-page/login" >Login</button>
    <button mat-button routerLink="user-page/list" >List</button>
</mat-toolbar> -->
<router-outlet></router-outlet>

<p>home works!</p>
<section id="com1">
    <app-com1></app-com1>
</section>
<section id="com2">
    <app-com2></app-com2>
</section>

