
<div class="flex">
    <h2 mat-dialog-title >
        Are You Sure You Want to Delete User   </h2>
    <mat-dialog-actions>
      <button mat-mini-fab color="warn" mat-dialog-close><mat-icon>close</mat-icon></button>
      </mat-dialog-actions>
</div>
<mat-dialog-content>
    <h3>Id : {{data.user.id}}</h3>
    <h5>Name: {{data.user.firstName}} {{data.user.lastName}}</h5>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button color="warn" (click)="Delete()">Delete</button>
  </mat-dialog-actions>  